@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#pane {
    transition: transform 1s ease-in-out, opacity 100ms ease-in-out;
    opacity: 0;
  }
  
  #pane.show {
    opacity: 1;
  }